.Circle {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  opacity: 1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.Circle2 {
  width: 5px;
  height: 5px;
  background-color: lime;
  border-radius: 50%;
  opacity: 1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(4.5);
    opacity: 0;
    transform-origin: center;
  }
}
