.mainForm {
  display: absolute;
  font-family: 'Stylish', sans-serif;

  h2 {
    margin-left: 110px;
    margin-top: 20px;
    color: #acffef;
  }
  .userInputSubmit {
    font-family: 'Stylish', sans-serif;

    background: transparent;
    margin-left: 120px;
    margin-top: 20px;
    padding: 10px 10px;
    color: #acffef;
  }
}
