.Circle {
  width: 3px;
  height: 3px;
  background-color: red;
  /* background-color: #eb4343; */
  /* background-color: bisque;
  background-color: blue;
  background-color: burlywood;
  background-color: whitesmoke;
  background-color: aqua; */
  border-radius: 50%;
  opacity: 1;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.Circle2 {
  width: 3px;
  height: 3px;
  background-color: lime;
  /* background-color: #eb4343; */
  /* background-color: bisque;
  background-color: blue;
  background-color: burlywood;
  background-color: whitesmoke;
  background-color: aqua; */
  border-radius: 50%;
  opacity: 1;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(4.5);
    opacity: 0;
    transform-origin: center;
  }
}
